.pl_main{
    padding: 20px;
    background-color: rgb(229, 234, 237);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.pl_container1{
    width: 40%;
    padding-top: 7%;

}
.pl_container2{
    width: 55%;
}
.pl_container1_div1>h2{
    color: rgb(0, 0, 0);
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 2rem;
    margin-bottom: 1rem;
    position: relative;
    width: fit-content;
}
.pl_container1_div1>h2::after{
content: '';
position: absolute;
left: 0;
bottom: -5px; /* Adjust distance below the text */
width: 50%; /* This makes the underline half the width of the text */
height: 2px; /* Thickness of the underline */
background-color: rgb(181, 156, 107);
}
.pl_container1>h1{
    font-size: 1.2rem;
    font-weight: 200;
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    letter-spacing: 0.8px;
    margin-bottom: 0.5rem;
}
.pl_container1>p{
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: 0.8rem;
    margin-bottom: 2rem;
    letter-spacing: 0.5px;
    word-spacing: 1px;
}
.pl_container1>button{
    padding: 7px 20px;
    background-color: transparent;
    border: 1px solid rgb(169, 169, 169);
    color: rgb(0, 0, 0);
}


.pl_container2_div1{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    overflow: hidden;


}
.pl_container2_div11{
    width: 300px !important;
    min-width: 300px;
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    transition: transform 0.8s ease-in-out;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.pl_container2_div11>img{
    width: auto;
}
.pl_container2_div11.one{
    transform: translateX(0);
}
.pl_container2_div11.two{
    transform: translateX(-310px);
}
.pl_container2_div11.three{
    transform: translateX(-620px);
}

.pl_container2_div2{
    margin-top: 2rem;
}
.pl_container2_div2{
    display: flex;
    flex-direction: row;
}
.pl_container2_div2>div{
    width: 50%;
}
.pl_container2_div2>div>button{
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color:rgb(106, 77, 19);
    cursor: pointer;

}
.pl_container2_div2>div>button:hover{
    color: rgb(181, 156, 107);

}
.pl_container2_div22{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.pl_container2_div21{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    color:rgb(106, 77, 19);

}
.pl_container2_div21>div{
    width: 250px;
    height: 1px;
    background-color: rgb(37, 32, 32);
    position: relative;
}
.pl_container2_div21_1{
    width: 83.3px;
    background-color: rgb(181, 156, 107);
    height: 3px;
    top: -2px;
    position: absolute;
    transition: transform 0.6s ease-in-out;

}
.pl_container2_div21_1.one{
    transform: translateX(0);

}
.pl_container2_div21_1.two{
    transform: translateX(83.3px);
    
}.pl_container2_div21_1.three{
    transform: translateX(166.6px);

    
}
.pl_container2_div11_1{
    display: flex;
    justify-content: end;
    color: white;
}
.pl_container2_div11_1>div{
    padding: 5px 20px;
    color: rgb(255, 255, 255);
    letter-spacing: 0.8px;
    font-weight: 300;
    border: none;
    background-color: rgb(53, 89, 84);
}
.pl_container2_div11_2{
    color: white;
    padding-left: 20px;
    padding-bottom: 10px;
}
.pl_container2_div11_2>h1{
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 1px;
}
.pl_container2_div11_2>h2{
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: 0.6px;
}
.pl_container2_div11_2>div{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 200;
    gap: 10px;
}
.pl_container2_div11_2>div>span{
    font-weight: 300;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

}
.pl_container2_div11>img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -2;
}

.pl_container2_div11_3{
    background-color: rgba(0, 0, 0, 0.112);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.hovr_img{
    transition: scale 0.3s ease-in-out;
}
.hovr_img.true{
    scale: 110%;
}